<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/style.css">

    <title>Works</title>
</head>
<body>
    <h1>Best works</h1>
    <p>Burr first performed stand-up comedy at the age of 23 on March 2, 1992.[10][11] He moved to New York City in 1994.[12] Since May 2007, Burr has recorded a weekly one-hour podcast, Bill Burr's Monday Morning Podcast, in which he speaks about his experiences, current events, going on tour, and sports, and offers advice to questions submitted by the listeners. The podcast is available on Burr's website, Spotify, YouTube, and on the All Things Comedy network he co-founded in 2012. He is sometimes joined by his wife Nia and has featured guests and interviews with other comedians.[13]
    Burr also appears as a guest on radio shows and other comedians' podcasts, such as Opie and Anthony, You Made It Weird with Pete Holmes, The Adam Carolla Show,[14] The Joe Rogan Experience,[15][16] WTF with Marc Maron,[17] The Nerdist Podcast,[18] The Adam Buxton Podcast, and Nobody Likes Onions.[19][20] Burr was also the first guest on Tom Green's podcast. On April 18, 2011, he guest hosted the Hollywood Babble-On podcast alongside Ralph Garman.[21]</p>

    <a href="/">Home page</a>
</body>
</html>